<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>
<%= form_tag("/posts", method: "put") do %>
  <%= text_field_tag("title") %>
  <%= text_area_tag("content") %>
  <%= submit_tag %>
<% end %>
