<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.title %></p>
<p><%= @post.content %></p>
<p><a href="/posts/<%=@post.id%>/edit">수정</a></p>
<p><a href="/posts/<%=@post.id%>" data-method="delete" data-confirm="삭제할래?">삭제</a></p>
